<div id="superiores">
	<%= link_to_remote 'Mostrar Abiertos', :url => {:action => :abrir_cerrar, :id => 'a'} %>
	<%= link_to_remote 'Mostrar Cerrados', :url => {:action => :abrir_cerrar, :id => 'b'} %>
</div>
<div id="estado">
</div>
