<!--Sublista caso general : despliegue de todos los tickets de todas las llamadas-->
<h3>Todos los Tickets</h3>
<% if @tickets.length > 0 %>
	<% for ticket in @tickets %>
		<div id="ticket">
		  <%= render :partial => "ticket", :locals => {:ticket => ticket} %>
		</div>
	<% end %>
<% else %>
	<div id="ticket">
		<p><h5>No hay tickets recibidos aún</h5></p>
	</div>
<% end %>
<% @elemento_pages = @ticket_pages %>
<%= render :partial => "principal/paginacion" %>
