	<div id="llamadas" class="seccionable">
			
				<p class="seccion_encabezado">
						<%= render :partial => "menu_opciones" %>
				</p>
				<div id="movible" class="seccion_p">
				</div>	
	</div>


