
<% if concepto.blank? %>
	<label for="llamada_concepto_de_la_llamada">Concepto de la Llamada</label><br/>
	<%= select("llamada", "concepto_de_la_llamada", ["SELECCIONA UN TIPO DE SERVICIO"])  %>
<% else %>
	<label for="llamada_concepto_de_la_llamada">Concepto de la Llamada</label><br/>
	<% seleccion = MetaLlamada.configuraciones_nombre(3, 'm', "Informe", {1 => concepto, 2 => "Triple"}) %>
	<%= select("llamada", "concepto_de_la_llamada", seleccion , { :include_blank => true })  %>
<% end %>
